body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: var(--page-height);
  display: flex;
  flex-direction: column;
}

.MuiAutocomplete-popper {
  outline: 2px solid #42a5f5;
  border-radius: 4px;
  overflow: hidden;
}
