.root {
  padding: 16px;
}

.formControl:not(:last-child) {
  margin-bottom: 12px;
}

.addButton {
  margin-top: 16px;
}

.deleteWaypointButton {
  margin-left: 8px;
}

.waypointInput {
  display: flex;
}

.buildRouteButton {
  width: 100%;
  margin-top: 24px;
}
